@media only screen and (min-width:200px) and (max-width:575px){
    .hell{
        color: black;
        display: none;

    }
    .water{
        position: fixed;
        right: 8px;
        top: 25px;
        font-size:20px ;
        z-index: 2;
    }
    .main_slide2 h1{
      font-size: 100px !important;
    }
    /*.whale{
      width: 100% !important;
    }
    */

}
@media only screen and (min-width:200px) and (max-width:575px){
  .heavy img{
    width: 93% !important;
    
  }
 .heavy{
  text-align: center !important;
 }
  .hello{
    height: 130px !important;
  }
  .yetam{
    z-index: 4;
  }
    .myth{
      position: fixed;
      right:169px;
    }
    .yeta{
      display: none;
    }
    .whit{
      font-size: 40px;
    
    }
    .mob{
      display: flex;
      flex-direction: column-reverse;

    }
    .whi{
      position: relative;
      top: 400px;

    }
    .whe{
      position: relative;
      top:-390px;
      height: 450px;
      
    }
    img{
      height: 80vw !important;
      width:325px;
    
    }
    .food-item{
      background: linear-gradient(to right,rgb(248,232,217),rgb(188, 37, 37));
    
    
    }
    .main_slide2{
      /*background: linear-gradient(to right,rgb(120, 207, 175),rgb(204, 223, 110));
      height: 700px;
      width: 100%;*/
      text-align: center;
    
    
    }
    .widt{
        flex: 0 0 auto;
        width: 100%;
    }
    .chef img{
      border-radius: 10px;
      height: 305px !important;
      width: 280px;
    }
  }
    
  
  @media only screen and (min-width:576px) and (max-width:10000px){
    .heavt img {
      height: 350px !important;
      width: 92% !important;
      box-shadow: 0 2px 15px rgb(16, 2, 9);
    }
    .water{
        display: none;
    }
    .wain{
      height:400px ;
      width: 500px;
      text-align: center !important;
    }
    #red{
      position: relative;
      top: 0px;
    }
    .food-item{
      background: linear-gradient(to right,rgb(248,232,217),rgb(188, 37, 37));
      height: 600px;
    
    
    }
    .fooder img{
      height: 500px !important;
      width: 500px;
      
    }
    .jail{
      position: relative;
      top: 100px;
    }
    .heavy{
      width: 97%;
      height: 700px;
      margin-left: 20px !important;
    }
    .heavy img{
      width: 100%;
      height: 700px !important;
      
    }
    .whale{
      width: 100%;
    }
    .cont{
      background-color: white;
      border: 3px solid black;
      height: 420px;
      width: 270px;
      margin-top: 10px;
      margin-bottom: 5px;
      border-radius: 20px;
    }
    .cont2 img{
      height: 190px !important;
      width: 170px;
      margin-top: 18px;
      border-radius: 15px;
    }
    .chef img{
      border-radius: 10px;
      height: 330px !important;
      width: 340px;
    }
    .doll{
      margin-top: 60px !important;
  
    }
  }
  .item h3{
    font-weight: 700;
  }
  @media only screen and (min-width:576px) and (max-width:975px){
      
        .widt{
        width: 100%;
    }
    .water{
      display: flex;
      position: fixed;
      z-index: 2;
      right: 8px;
      top: 25px;
      font-size:20px ;
      z-index: 2;
  }

  }
  
  @media only screen and (min-width:410px) and (max-width:575px){
    .whi{
      position: relative;
      top:410px;


    }
    .whe{
      position: relative;
      top: -360px;
      left:40px;
      height: 450px !important;
      width:80vw;
      
      
    }
    img{
      height: 70vw !important;
      width:350px;
    
    }
    .grey img{
      height: 70vw !important;
      width:400px;
      margin-top: 25px;

    }
    

  }