*{
    padding: 0;
    margin: 0;

}
.hello{
    display: flex;
    justify-content: center;
    align-items: start;
}

.hello ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    margin: 0px;
 

}
header{
  box-shadow:0 2px 30px rgb(16, 2, 9) !important;
}
.hello ul li{
    color:black;
    font-weight: 700;
}
a{
    text-decoration: none;
}
.naap{
    width: 100%;
    height: 80px;
    background-color: rgb(248,232,217);
    box-shadow:0 2px 30px rgb(16, 2, 9) !important;

}
.hell{
    height: 20px;
}
.yes{
    background-color: rgb(248,232,217);
    border:none;
    
}
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #toggleButton {
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #verticalBox {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0; /* Initially hidden */
    background-color: rgba(0, 0, 0, 0.8);
    transition: width 0.3s ease;
    overflow: hidden;
  }
  
  #verticalBox.open {
    width: 300px; /* Width of the box when open */
  }
  
  .hidden {
    display: none;
  }
  .white{
    background: linear-gradient(to right,#0ACEFE,red);
    margin-top: -14px;

  
  }
  .myth{
    position: fixed;
    left:200px;
  }
  .search-bar {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: scaleX(0);
}

.search-container.active .search-bar {
    opacity: 1;
    transform: scaleX(1);
}
.yetam{
  height: 100vh;
  width: 190px;
  background-color:rgba(36,93,72,0.5);
  /*background-color: black;*/
  color: white;
  display: none;
  flex-direction: column;
  justify-content:start;
  position: fixed;
  backdrop-filter: blur(5px);
  right: 0px;
  top: 0px;

}
.yetam ul{
  list-style: none;
  color: black;
  padding-right:25px;
  text-align: center;
}
.yetam ul li{
  color: white;
  font-weight: 600;

}
main{
  /*background-color:rgba(0, 0, 0, 0.6);*/
  text-align:center ;
  
  color: black;
  font-weight: 700;
 
}
.whi span{
  color: rgba(253,57,8);
  text-decoration: underline;
  text-decoration-color: rgba(253,176,34,0.8);
}
.whit{
  font-size: 80px;

}

.yes{
  width: 100%;
  height: 79px;
  
  
}
main{
  background: linear-gradient(to right,#a7ced8,rgb(166, 231, 169));

}
.mob{
  background: linear-gradient(to right,rgb(248,232,217),rgb(35, 116, 39,));


}
.bro{
  height: 750px;
}
.whe{
  height: 350px;

}
.grey img{
  box-shadow: 0 2px 15px rgb(18, 18, 1);
}
.wain{
  text-decoration: none;

}
.red-btn{
  cursor: pointer;
  width: 220px;
  font-weight: bold;
  color: aliceblue;
  line-height: 40px;
  background-color: rgb(253,77,8);
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow:0 2px 15px rgb(163, 98, 72);



}
.white-btn{
  cursor: pointer;
  width: 160px;
  font-weight: bold;
  color: aliceblue;
  line-height: 40px;
  background-color: rgb(253,77,8);
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow:0 2px 15px rgb(163, 98, 72);



}
.food-item{
  background: linear-gradient(to right,rgb(248,232,217),rgb(188, 37, 37));

}
.food-item img{
  height: 350px !important;
  width:330px !important;
  border-radius: 14px;
  box-shadow:0 2px 15px #e84c44;

}
.food-item h3{
  margin-top: 10px;

}
/*.img-fluid {
  max-width: 92%;
  height: auto;
}*/
img{
  height: 325px !important;
  width: 350px;
  border-radius: 8px;

}
.item h3{
  font-weight: 700;
  font-size: 25px;
  background: linear-gradient(120deg, #f0e64df1, #4bdf6b);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}
#menu{
  background: linear-gradient(90deg, #d9934cf1, #241fc9);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.main_slide2{
  background: linear-gradient(to right,#FFF5D7,#C890A7);
  /*background: linear-gradient(to right,#d8909a,rgb(211, 255, 179));*/
  
  

  /*height: 550px;
  width: 100%;*/


}
/*.yet1{
  height: 100px;
  width: 100px;
}
.yet3{
  height: 80px;
  width: 80px;
}*/
.brot img{
  height: 60px !important;
  width: 75px;
  border-radius: 8px;
  border-radius: 30px;

}
.yet2{
  height: 90px !important;
  width: 105px !important;
  background-color: aliceblue;
  border-radius: 50%;
}
.yet1{
  background: linear-gradient(to right,rgb(248,232,217),rgb(188, 37, 37));
  border-radius: 50%;
  display: inline-block;
  
}
.yet3{
  border-radius: 50%;
}
.whale{
  background: linear-gradient(to right,rgb(248,232,217),rgb(188, 37, 37));
  color: black;
  /*box-shadow:0 2px 15px rgb(16, 2, 9) !important;*/

}
.whale img{
  box-shadow:0 2px 15px rgb(16, 2, 9) !important;
}
.best{
  display: flex;
  justify-content: center;
  align-items: center;
}
.yaun{
  background: linear-gradient(to right,rgb(199, 238, 250),rgb(227, 194, 212));
  /*background: url("/image/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTAxL3Jhd3BpeGVsb2ZmaWNlM19zaW1wbGVfbWluaW1hbGlzdF9jbG9zZV91cF9vZl9yb2Nrc19pbl9ibGFja19jb182ZWM0YTFkMS02M2JhLTQyNjYtODMyMC01NGUyMmUzNGIzYzNfMS5qcGc.webp");
  background-size: cover;
  background-repeat: no-repeat;*/

}
.cont{
  background-color: white;
  border: 3px solid black;
  height: 440px;
  width: 240px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.cont2 img{
  height: 180px !important;
  width: 170px;
  padding-top: 0px;
  margin-top: 10px;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow:0 2px 14px rgb(12, 6, 4);
  /*mix-blend-mode: color-burn;*/
}
.price{
  color: red;
  font-weight: 900;
}
footer{
  background-color: black;
  color: white;
}
.ball ul li{
  list-style: none;
}
.marh{
  color: #F9E795;
}
.chef{
  background: linear-gradient(to right,rgb(182, 213, 158),rgb(178, 236, 229));
}
.chef img{
  border-radius: 20px;
  width: 300px !important;
  height: 300px !important;
  box-shadow:0 2px 15px rgb(16, 2, 9);
}
.name{
  display: flex;
  padding-top: 15px;
  margin: 0;
}
.name img{
  height: 65px !important;
  width: 75px;
  border-radius: 50%;
  border: 2px solid white;
}
.name .yeto{
  margin-left:13px;
}
.heighter{
  background: linear-gradient(to right,rgb(206, 140, 130),rgb(230, 236, 167));

}
.hall{
  color: #20948B;
  font-weight: 900;
}
.heavt{
  background: linear-gradient(to right,rgb(165, 226, 227),rgb(245, 218, 237));
}
.date{
  color: #2F3C7E;
}
.writish{
  height: 480px;
  width: 250px;
  background-color: aliceblue;
  border-radius: 5px;
}
.writish img{
  height: 200px !important;
  width:200px !important ;
  box-shadow:0 2px 15px rgb(16, 2, 9);
  margin-bottom: 10px;
  
}
.mouth{
  background: linear-gradient(to right,rgb(111, 132, 132),rgb(245, 218, 237));

}
.restaur{
  background: linear-gradient(to right,rgb(252, 164, 164),rgb(227, 244, 162));

}
.heavt img{
  height: 240px !important;
  width: 90% !important;
  box-shadow:0 2px 15px rgb(16, 2, 9);
}
.heavt h2{
  font-size: 30px !important;
  color:#EB5A3C;
  /*box-shadow:0 2px 15px rgb(16, 2, 9);*/
  /*text-shadow:0 14px 9px rgb(16, 2, 9);*/

}
.yesa {
  color: #0f113b;/* White text for contrast */
  text-shadow: 2px 1px 4px rgba(0, 11, 8, 0.5); /* Subtle shadow for depth */
  font-weight: 800;
}
.blue:hover{
  background-color: rgb(234, 240, 247);
  color: rgb(253,77,8);
  font-weight: 700;
  text-shadow:0 2px 154px rgba(24, 61, 107, 0.5);
}
.white-btn:hover{
  background-color: rgb(234, 240, 247);
  color: rgb(253,77,8);
  font-weight: 700;
}
.red-btn:hover{
  background-color: rgb(234, 240, 247);
  color: rgb(253,77,8);
  font-weight: 700;
  border: 3px 2px 15px 10px black !important;
} 
.dell{
  font-size: 37px;
  color: #5A6C57;
}
.fiy{
  font-weight:550 !important;
}
.g1{
  color:#EB5A3C;
  font-size: 27px;
}