
*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(to right,rgb(240, 79, 79),rgb(235, 144, 208));
    /*text-align: center;*/
}
.yeta{
    font-size: 70px;
    text-align: center;
}
.container{
    height: 400px;
    width: 400px;

    display: flex;
    justify-content: center;
    align-items: center;  
}
.game{
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:5px;
    position: fixed;
    top: 200px;
    left: 80px;

}
.hello{
    background-color:#ffffc7;
    height:16vmin ;
    width:16vmin ;
    border-radius: 1.5rem;
    font-size: 30px;
    color: rgb(10, 126, 39);
    
    
}
.box{
    margin-bottom: 10px;
    position: relative;
    left: 100px;
    background-color:navajowhite;
    


}

.hell{
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background-color: black;
    color: aliceblue;
    position: relative;
    top: 50px;
    height: 40px;
    
}
.yellow{
    background-color: #f7b969;
}
.hide{
    display:none;
}

@media only screen and (min-width:200px) and (max-width:976px){
    .hide{
        position: fixed;
        left: 100px;
    }
    .yeta{
        font-size: 55px;
    }
    .hello{
        background-color:#ffffc7;
        height:80px ;
        width:80px;
        border-radius: 1.5rem;
        font-size: 30px;
        color: rgb(10, 126, 39);
        /*position: fixed;*/
        }
        .msg-con{
            position: fixed;
            left: 140px;
            color: aquamarine;
        }
        
        .box{
            height: 50px;
            width: 200px;
            position: fixed;
            left: 120px;
            top: 150px;
        }
    .game{
        height: 300px;
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:5px;
        position: fixed;
        top: 250px;
        left: 80px;
    
    }
    .container{
        height: 400px;
        width: 400px;
    
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    .hell{
        position: fixed;
        top: 570px;
        left: 180px;
        height: 50px;
        width: 100px;
    }

}
@media only screen and (min-width:976px) and (max-width:10000px){
    .hello{
        height: 120px;
        width: 120px;
    }
    .msg-con{
        position: fixed;
        left: 640px;
        color: aquamarine;
    }
    
    .box{
        height: 60px;
        width: 280px;
        padding-bottom: 15px !important;
        position: fixed;
        left: 565px;
        top: 150px;
    }
    .game{
        height: 400px;
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:5px;
        position: fixed;
        top: 250px;
        left: 520px;
    
    }
    .hell{
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        background-color: black;
        color: aliceblue;
        position: fixed;
        top: 650px;
        left: 650px;
        height: 50px;
        width: 100px;
    }
    .hide{
            position: fixed;
            right: 1420px !important;   
        }
        

}
.yet{
    display: flex;
    flex-direction: column;
}
